.sidebar {
 width: 250px;
 height: 100%;
 left: 0;
 border: 1px solid rgba(255, 255, 255, 0.1);
}

.side-icon-box {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);

  border-radius: 12px;
  margin-left: 17px;
}

.sidebar-tabs {
  color: rgba(255, 255, 255, 0.3);
  span { transition: color 0.1s var(--ease-out-quad); }
  path {
    stroke: rgba(255, 255, 255, 0.3);
    stroke-opacity: 1;
    transition: stroke 0.1s var(--ease-out-quad);
  }
}

.side-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  path {
    stroke: rgba(255, 255, 255, 1);
    stroke-opacity: 1;
  }
}
