@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
   
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
   
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

body, html {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Hide the step arrows in input[type=number] for Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the step arrows in input[type=number] for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus {
  outline: none;
  box-shadow: none;
}

.header .connect-wallet {
  display: flex;
  align-items: center;
  background-color: rgba(161, 254, 160, 0.05);
  padding: 20px;
  border-radius: 40px;
  height: 46px;
  transition: background-color 0.1s var(--ease-out-quad);
  cursor: pointer;
  color: rgba(161, 254, 160, 1);
  border: 1px solid rgba(161, 254, 160, 0.2)
}

.connect-wallet-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.connect-wallet-icon path:first-of-type {
  stroke: rgba(161, 254, 160, 1);
  stroke-opacity: 1;
}

.connect-wallet-icon path:nth-of-type(2) {
  fill: rgba(161, 254, 160, 1);
  fill-opacity: 1;
}

.connect-wallet:hover {
  background: rgba(161, 254, 160, 0.1);
}

img[data-testid='iconic-solana'] {
  content: url('/eclipse.png');
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  height: 50px;
  width: 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    margin-right: 20px;
  }
}

.mobile-logo { display: none; }
.legal-footer a:hover {
  color: #A1FEA0; 
}

@media (max-width: 768px ){
  .desktop-logo { display: none; }
  .mobile-logo { display: inline; }
}

@media (max-width: 900px) {
  footer {
    padding: 0px;
    flex-direction: column;
    a {
      margin-right: 0;
    }
  }

  .legal-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 6px 18px;
    font-size: 14px;
  }

  .info-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 520px;
    justify-content: space-between;
    margin-left: 0px;
    padding: 6px;
    font-size: 14px;
    gap: 20px;
    div {
        gap: 4px;
        margin-left: 0px;
    }
  }
}

.status-overlay {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 135%;
  transition: opacity 300ms var(--ease-out-quad);
  backdrop-filter: blur(3px);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.status-overlay.active {
  z-index: 1;
  opacity: 1;
}
