.connected-wallets-modal {
  right: 20px;
  top: 10%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #050505;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  width: 375px;
  padding: 24px;

  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.3s var(--ease-out-quad), opacity 0.3s var(--ease-out-quad);
  cursor: auto;
  pointer-events: none;
}

.modal-active {
  top: 100px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; 
}

.connected-wallets-header {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  color: #fff;
  width: 100%;
  margin-bottom: 24px;
  justify-content: space-between;
}

.wallets-cross {
  cursor: pointer;
  width: 14px;
  height: 14px;

}
.wallet-list {
  color: rgba(255, 255, 255, 0.3);
  width: 100%;
}

.wallet-details {
  background-color: hsla(0, 0%, 100%, .03);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 96px;
  width: 100%;
}

.wallet-title {
  margin-bottom: 12px;
}

.wallet-icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.wallet-details-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  height: 52px;
  padding: 12px;
}

.wallet-details-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.wallet-item:first-of-type {
  margin-bottom: 24px;
}

.wallet-details-balance {
  color: rgba(255, 255, 255, 0.3);
  font-size:14px;
}

.modal-copy, .modal-disconnect {
  cursor: pointer;
  transition: fill 0.9s ease; 
}

.modal-copy:hover path {
  fill: #a3ffa5;
  pointer-events: all;
  fill-opacity: 1;
}

.modal-disconnect:hover path {
  stroke: #EB4D4D;
  stroke-opacity: 1;
}

.disconnected {
  height: 48px;
}

.disconnected div {
  border-bottom: none;
} 

.hidden {
  visibility: hidden;
}

.modal-connect-wallet {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
}

.balance-eth {
  font-weight: 600;
  font-size: 15px;
}

.modal-connect div {
  transition: color 0.1s var(--ease-out-quad);
}

.modal-connect path {
  transition: stroke-opacity 0.1s var(--ease-out-quad);
}

.modal-connect:hover path:first-of-type {
  stroke: #a3ffa5;
  stroke-opacity: 1;
}

.modal-connect:hover path:nth-of-type(2) {
  fill: #a3ffa5;
  fill-opacity: 1;
}

.modal-connect:hover div {
  color: #a3ffa5;
} 

.cross-wrapper path {
  transition: fill-opacity 100ms var(--ease-out-quad), fill 100ms var(--ease-out-quad);
}

.cross-wrapper:hover path {
  fill-opacity: 1;
  fill: var(--dynamic-text-secondary);
}

.cross-wrapper:active path {
  fill-opacity: 1;
  fill: var(--dynamic-text-primary);
}

@media (max-width: 500px) {
  .connected-wallets-modal {
    width: 95%;
    right: 2%;
  }
}
